
:root{
  --small-font-size: 1rem;
  --normal--font--size: 1.3rem;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;

}
.login{
  position: relative;
  height: 100vh;
  background-image: url("./src/assets/bglog.jpg");
  overflow: hidden;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

form {
 position: relative;
 background-color: #1a1a1a1a;
 border: none;
 padding: 2.5rem 1.5rem;
 border-radius: 1rem;
 backdrop-filter: blur(8px);
 min-width: 400px;
 display: flex;
 flex-direction: column;
 gap: 2rem;
 box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
 transition: all 0.3s ease;
}
form:hover {
  box-shadow: 0 12px 48px rgba(0, 0, 0, 0.5);
}
h1{
  font-size: 3rem;
  text-align: center;
  margin: 0;
}
.input-field{
  position: relative;
  
}
.input-field input{
 
width: 100%;
padding: 12px 0;
background: none;
color: white;
border: none;
font-size: var(--normal--font--size);
border-bottom: 1px solid #fff;
padding-left: 20px;
box-sizing: border-box;
outline: none;

}
.input-field input::placeholder{
  color: transparent;
}
.input-field label{
  position: absolute;
  left: 12px;
  top :  15px;
  font-size: var(--normal--font--size);
  transform: translateY(-40%);
  transition: 
  top .3s ease,
  font-size .3s ease,
  color 0.3s ease
  ;
  pointer-events: none;
}
input:focus + label,
input:hover + label,
.input-field input:not(:placeholder-shown)+label{
  top: -15px;
  font-size: var(--small-font-size);
  transform: translateY(-15%);
  color: #271930;
}
.check-group,
.check-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--small-font-size);
}
input[type = "checkbox"]{
  accent-color: black;
  transform: scale(1.2);
  margin-right: 5px ;

}
a{
  color: white;
  text-decoration: none;
}
button{
  
  background-color: #271930;
  color: #ffffff;
  font-weight: 600;
  font-size: var(--normal--font--size);
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    width: 100%;
 
}
button:hover {
  color: #000000;
  background: rgba(255, 255, 255, 0.2);
  border-color: #ffffff;
}